body {
    background-image: url("stormBG.jpg");
}

.jumbotron {
    text-align: center;
    opacity: 0.7;
}

#leftCol {
    height: 400px;
    padding: 40px;
}

#topOne {
    height: 100px;
    padding: 0px 40px 0px 0px;
}

#bottomOne {
    height: 300px;
}